/* color variables */
:root {
    --clr1: rgb(161, 223, 223);
    --clr2: rgb(45, 53, 61);
    --clr3: rgb(27, 62, 129);
    --clr4: rgb(255, 253, 238);
} 

/* universal element selector */
* {
    margin: 0;
    padding: 0;
    transition: ease .5s;
}

/* body element selector */
body {
    font-family: sans-serif;
}

/* element selector for links within navbar */
nav a {
    text-decoration: none;
    color: var(--clr1);
}

/* hover effect for links with navbar */
nav a:hover{
    color: var(--clr4);
}

/* header element selector */
header {
    background-color: var(--clr2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 0;
}

/* navbar element selector */
nav{
    display: flex;
    color: var(--clr2);
}

/* main section element selector */
main {
    background-color: var(--clr4);
}

/* footer element selector */
footer {
    display: flex;
    background-color: var(--clr2);
    padding: 40px 20px;
}

/* banner within header */
.header-banner {
    background-color: var(--clr1);
    color: var(--clr2);
    display: flex;
    padding-left: 20px;
    padding-right: 5px;
}

/* banners within tiles */
.banner {
    background-color: var(--clr1);
    color: var(--clr2);
    display: flex;
    padding-left: 20px;
    padding-right: 5px;
    position: absolute;
    bottom: 10px;
    left: 0;
    flex-direction: column;
    flex-wrap: wrap;
}

/* links within banners */
.banner a{
    text-decoration: none;
    color: var(--clr2);
    font-size: 20px;
    transition: .25s;
}

/* hover effect for links in banners */
.banner a:hover{
    color: #ff864e;
    font-size: 30px;
}

/* section title and divider line container */
.side-bar {
    display: flex;
    height: auto;
    justify-content: flex-end;
    width: 25%;
}

/* section title */
.side-bar-title {
    font-size: 30px;
    font-weight: 600;
    margin-right: 10px;
    color: var(--clr3)
}

/* divider line between sidebar title and content to the right */
.divider-line {
    height: auto;
    width: 2px;
    background-color: var(--clr3);
}

/* container for entire about me section */
.about-section{
    display: flex;
    width: 100%;
    padding-bottom: 30px;
}

/* paragraph section in about me section */
.about-content{
    display: flex;
    width: calc(75% - 40px);
    color: var(--clr3);
    padding: 30px;
}

/* container for entire contact section */
.contact-section {
    margin-top: 30px;
    padding-bottom: 30px;
    display: flex;
    width: 100%;
}

/* container for contact section list */
.contact-section ul{
    display: flex;
    width: calc(75% + 20px);
    color: var(--clr3);
    justify-content: space-around;
    align-items: center;
}

/* styling for contact section list items */
.contact-section li {
    display: flex;
    border-bottom: solid var(--clr3);
    list-style: none;
    padding: 0 5px;
}

/* container for entire work section */
.work-section {
    display: flex;
    width: 100%;
}

/* container for tiles in work section */
.cards {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    gap: 10px;
    padding: 0px 10px 0px 10px;
}

/* large tile in work section */
.card1 {
    display: flex;
    position: relative;
    background-color: black;
    width: 100%;
    height: 400px; 
    border: solid 5px var(--clr1);
}

/* small tile in work section */
.card {
    display: flex;
    position: relative;
    height: 250px;
    width: calc(50% - 15px);
    background-color: black;
    border: solid 5px var(--clr1);
}

/* banner for hero */
.banner-hero {
    font-size: 30px;
    background-color: var(--clr1);
    color: var(--clr2);
    display: flex;
    height: 40px;
    padding: 0 15px 0 5px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* background picture for hero */
.bkgr-picture {
    width: 100%;
    height: 100%;
    background-image: url(./images/avatar.jpg);
    overflow: hidden;
}

/* webpage hero container */
.hero {
    display: flex;
    height: 300px;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

/* container for links in navbar */
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

/* styling for items inside links class */
.links > li {
    padding: 0 5px;
    margin: 0 8px;
    border-bottom: solid var(--clr1);
    list-style: none;
}

/* hover effect for links in navbar */
.links > li:hover {
    border-bottom: solid var(--clr4);
}

/* side note in footer next to shapes container */
.note{
    display: flex;
    justify-content: space-around;
    color: var(--clr1);
    font-size: 30px;
    width: calc(25% - 5px);
}

/* container for shapes in footer */
.shapes{
    display: flex;
    justify-content: space-around;
    width: calc(75% - 7px);
}

/* square that turns into a circle */
.circlesquare{
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #ff4e50;
    transition: ease 1s;
}

/* hover effect for circlesquare class */
.circlesquare:hover{
    transform: rotate(3600deg);
    border-radius: 20px;
    background-color: aqua;
}

/* square with various on-hover effects */
.crazy{
    height: 40px;
    width: 40px;
    background-color: yellow;
    display: flex;
    transition: 3s;
    border: solid 0px orange;
    box-shadow: 0 white;
}

/* hover effect for crazy class */
.crazy:hover{
    background-color: purple;
    border: solid greenyellow 5px;
    height: 30px;
    width: 50px;
    box-shadow: 10px 10px 10px pink;
    transform: skew(15deg);
}

/* circle that turns into square */
.squarecircle{
    display: flex;
    height: 40px;
    width: 40px;
    background-color: aqua;
    transition: ease 1s;
    border-radius: 20px;
}

/* hover effect for squarecircle class */
.squarecircle:hover{
    transform: rotate(-3600deg);
    border-radius: 0;
    background-color: #ff4e50;
}

/* special divider line for footer */
#footer-line {
    background-color: var(--clr1);
}

/* background images for cards */
    #study-guide {
        background-color: purple;
    }

    #cheat-sheet {
        background-image: url(./images/cheatsheet.png);
    }

    #firstproject {
        background-image: url(./images/firstproject.png);
    }

    #flexbox {
        background-color: purple;
    }

    #javascript {
        background-image: url(./images/javascript.png);
    }

/* tablet adjustments */
@media only screen and (max-width : 768px) {
    .card1 {
        height: 150px;
    }
    .card {
        height: 100px;
    }
    .cards{
        gap: 5px;
    }
    .side-bar-title{
        font-size: 20px;
    }
    .note{
        font-size: 18px;
    }
    .banner{
        padding: 0;
        font-size: 12px;
        bottom: 5px;
    }
    .banner a{
        font-size: 14px;
    }
    .banner a:hover{
        font-size: 20px;
    }
}

/* mobile adjustments */
@media only screen and (max-width : 480px) {
    .card1 {
        height: 100px;
    }
    .card {
        height: 50px;
    }
    .cards{
        gap: 5px;
    }
    .side-bar-title{
        font-size: 20px;
    }
    .banner{
        padding: 0;
        font-size: 10px;
        bottom: 5px;
    }
    .banner a{
        font-size: 12px;
    }
    .banner a:hover{
        font-size: 16px;
    }
    .links{
        font-size: 10px;
    }
    .header-banner{
        font-size: 15px;
    }
    .hero{
        height: 200px;
        margin-bottom: 20px;
    }
    .banner-hero{
        font-size: 20px;
        height: 28px;
    }
    .note{
        font-size: 16px;
    }
}
